$breakpoint-s: 480px; //Expériences pro en grid
$breakpoint-m: 600px;
$breakpoint-intermediaire: 700px; //Logiciels : slider -> grid
$breakpoint-l: 760px; //Logiciels : slider -> grid
$breakpoint-xl: 950px; //Burger menu -> menu normal
$breakpoint-xxl: 1150px; //Expériences pros en flex row