@import "sizes";

* {
  font-size: 16px;
  font-family: "Inter", "Roboto", "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif !important;
}

body {
  background-color: #f6f7f7;
  overflow-x: hidden;
}

main {
  width: 92%;
  margin: auto;
}

h1, h2 {
  font-family: "Recoleta", "Cormorant", "serif" !important;
  font-size: 2rem;
}

p {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.classicLink {
  background-color: #3858e9;
  color: white;
  padding: 1rem 0;
  text-align: center;
  display: block;
  width: 50%;
  border-radius: 5px;
  font-weight: 500;
  margin: 2rem auto 4rem 0;
  @media (min-width: $breakpoint-l) {
    width: 50%;
    padding: 1rem 0;
  }
  @media (min-width: $breakpoint-xl) {
    width: 30%;
  }

  &:hover {
    opacity: 0.8;
  }
}

.section {
  margin: 3.5rem 0 2rem;
  position: relative;
  padding-bottom: 0.8rem;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 120vw;
    height: 1px;
    background-color: #c3c4c7;
  }

  @media (min-width: $breakpoint-xxl) {
    margin-top: 6rem;
  }
  h2 {
    width: 75%;
    @media (min-width: $breakpoint-xxl) {
      font-size: 3.5rem;
    }
  }

  .description {
    color: #3c434a;
    margin-top: 1.5rem;
    @media (min-width: $breakpoint-l) {
      width: 50%;
    }
    @media (min-width: $breakpoint-xxl) {
      font-size: 1.125rem;
    }
  }
  .descriptionLink {
    width: 80%;
    margin: 1rem 0 3rem;
    @media (min-width: $breakpoint-s) {
      width: 60%;
    }
    @media (min-width: $breakpoint-m) {
      width: 50%;
    }
    @media (min-width: $breakpoint-l) {
      width: 40%;
    }
    @media (min-width: $breakpoint-xl) {
      width: 30%;
    }
    @media (min-width: $breakpoint-xxl) {
      margin: 2rem 0 4rem;
    }
  }
}

