
.codeSlider {
  margin-top: 3rem;

  h2 {
    font-size: 0.75rem;
    font-family: "Inter", "Roboto", "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif !important;
    width: 95%;
    margin: auto auto 1rem;
  }

  .highway-slider {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    .highway-lane {
      display: flex;

      .highway-car {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-top: 1.5px solid #5671ec;
        padding: 2rem 0;

        img {
          width: 15%;
          height: auto;
          object-fit: cover;
        }
        .tsAndPhp{
          width: 25%;
        }
      }
    }
  }
}

@keyframes translateInfinite {
  100% {
    transform: translateX(calc(-200px * 8));
  }
}

#infinite {
  .highway-lane {
    width: calc(200px * 16);

    .highway-car {
      width: 5%;
      animation: 18s translateInfinite infinite linear;
      animation-play-state: running;
    }
  }

  &:hover {
    .highway-car {
      animation-play-state: paused;
    }
  }
}
