@import "sizes";

.contact {
  background-color: #f6f7f7;
  margin: 0 0 0 -4.2% !important;
  padding: 6rem 13% 0 4%;
  width: 108vw;
  @media (min-width: $breakpoint-xxl) {
    padding-right: 15%;
  }
  @media (min-width: $breakpoint-desktopXL) {
    width: 110%;
    padding-right: 0;
  }

  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    label{
      visibility: hidden;
      height: 1px;
    }

    input, textarea {
      margin: 0 0 2rem;
      border: 1px solid #c3c4c7;
      border-radius: 6px;
      padding-left: 3%;
      font-family: "Lora", "Cormorant", serif !important;
      resize: none;
    }

    input {
      height: 4rem;
      @media (min-width: $breakpoint-xl) {
        height: 8rem;
        font-size: 3rem;
      }

      &:focus {
        outline: none;
      }
    }

    textarea {
      height: 7rem;
      padding-top: 0.5rem;
      @media (min-width: $breakpoint-xl) {
        height: 15rem;
        font-size: 3rem;
      }

      &:focus {
        outline: none;
      }
    }
    button{
      background-color: #3858e9;
      color: white;
      border: none;
      padding: 0.8rem 0;
      border-radius: 7px;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 2rem;

      &:hover{
        opacity: 0.8;
      }
      @media (min-width: $breakpoint-m) {
        width: 75%;
        margin: 1rem auto 4rem;
      }

      @media (min-width: $breakpoint-l) {
        width: 45%;
      }
      @media (min-width: $breakpoint-xl) {
        width: 25%;
      }
    }
  }
}