@import "sizes";

.projects {
  .highway-slider {
    overflow: hidden;
    width: 108%;
    margin-left: -4%;


    .highway-lane {
      display: flex;
      justify-content: space-between;
      overflow: visible;
      width: calc(500px * 6);
      animation: scroll 10s linear infinite;

      &:hover {
        animation-play-state: paused;
      }

      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-500px * 3);
        }
      }

      .highway-car {
        display: flex;
        align-items: center;
        margin-right: 1%;
        position: relative;
        transition: 1s;

        @media (min-width: $breakpoint-l) {
          width: 32%;
        }

        img {
          max-width: 100%;
          height: auto;
          border-radius: 10px;
        }

        &:hover {
          filter: grayscale(60%);
          transition: 1s;

          .projectsLink {
            opacity: 1;
            transition: 0.4s;
          }
        }

        .projectsLink {
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: #1b1919;
          opacity: 0;
          color: white;
          transform-origin: center center;
          transform: translate(-50%, -50%);
          transition: 0.4s;
          padding: 1rem 10%;
          border-radius: 5px;
        }
      }
    }
  }

  .smallGithub {
    font-size: 0.8rem;
    text-align: center;
    color: #3858e9;
    margin: 2rem 0 1rem;
    @media (min-width: $breakpoint-m) {
      font-size: 1rem;
    }
    @media (min-width: $breakpoint-l) {
      font-size: 1.2rem;
      margin: 4rem auto 3rem;
    }

    span {
      font-family: 'Space Mono', 'Consolas', monospace !important;
      color: #8cc615;
      font-weight: 600;
    }
  }

  #github {
    font-family: "Lora", "Cormorant", "serif" !important;
    font-size: 2rem;
    color: #3858e9;
    text-align: center;
    line-height: 2.5rem;

    @media (min-width: $breakpoint-m) {
      width: 80%;
      margin: auto;
    }
    @media (min-width: $breakpoint-l) {
      width: 70%;
    }
    @media (min-width: $breakpoint-l) {
      line-height: 3rem;
      font-size: 2.5rem;
    }
    @media (min-width: $breakpoint-xxl) {
      line-height: 3.5rem;
    }

    a {
      color: #3858e9;
      background-color: #c3cdf8;
      border-radius: 5px;
      padding: 0 2%;
      text-decoration: underline;
    }
  }

  .githubLink {
    margin: 2rem auto;

    @media (min-width: $breakpoint-xxl) {
      width: 18%;
    }
  }
}