$breakpoint-s: 480px;
$breakpoint-m: 600px;
$breakpoint-intermediaire: 700px;
$breakpoint-l: 760px;
$breakpoint-xl: 950px;
$breakpoint-xxl: 1150px;
$breakpoint-desktop: 1240px;
$breakpoint-desktopL: 1300px;
$breakpoint-desktopXL: 2500px;
$breakpoint-desktopXXL: 3000px;