@import "sizes";

.software {
  margin-bottom: 0;
  @media (min-width: $breakpoint-l) {
    display: flex;
    justify-content: space-between;
  }
  .softwareLogo {
    width: 15%;
    margin: 1.5rem 0;
  }
  h2 {
    font-size: 2.5rem;
  }

  .softwareLink {
    background-color: black;
    width: 85%;
    margin-bottom: 2rem;
    @media (min-width: $breakpoint-l) {
      width: 50%;
    }
  }

  img {
    width: 50%;
    height: auto;
  }

  @media (min-width: $breakpoint-l) {
    div {
      width: 100%;

      .description {
        width: 90%;
      }
    }
  }
  .highway-slider {
    position: relative;
    overflow: hidden;
    width: 108%;
    margin-left: -4%;
    padding-bottom: 4rem;
  }

  .highway-lane {
    display: flex;
    flex-wrap: nowrap;
    animation: scrollInfinite 10s linear infinite;
  }

  .highway-lane.duplicate {
    height: 1px;
    opacity: 0;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .highway-car {
    flex: 0 0 auto;
    width: 40%;
    padding: 0 1rem;

    img{
      height: 5rem;
    }
  }

  @keyframes scrollInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-350%);
    }
  }

  @media (min-width: $breakpoint-l) {
    .highway-slider {
      overflow: visible;
      padding: 5rem 0 0 10%;
    }
    .highway-lane {
      animation: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 1rem;
      align-items: center;
    }
    .highway-lane.duplicate {
      height: 1px;
      opacity: 0;
      width: 1px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .highway-car {
      width: 120%;
    }
  }
}


